# Python virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
